main{
/* max-width: 50%; */
}

@media (min-width: 600px) {
    main{
         max-width: 20%; 

    }
  }
.box-ticket{
gap:1rem;
}
.green{
    border: 1px solid green;
}

.blue{
    border: 1px solid blue;
}
.orange{
    border: 1px solid orange;
}

.col-gap {
    column-gap: 2rem;
  }

  .footer{
    height: 200px;

  }