
.footer{
  background-color:var( --footer-bgcolor);
  color:var(--footer-text-color);
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-right: 1rem;
  }
  .footer__box-menu ul li{
    margin: 0.5rem 0;
  }
  .footer__box-menu ul li a{
    margin: 0.5rem 0;
    color:white;
  text-decoration: none;
  }
  
  .footer__social-links i{
  margin: 0.3rem;
  color:white;
  font-size: 1.8rem;
  }