:root {

  --navbar-color: #020a21;
  --footer-bgcolor: #020a21;
  --footer-text-color: white;


}

/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* 300-400-600 */


html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* COMUN */
i{
cursor:pointer;
}


.header {
  background-color: var();
text-align: center;
font-family: 'Allison', cursive;
font-size: 1.5rem;
color: #020a21;
}


.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom:solid 1px rgba(2,17,21,0.3);
}
.header__navbar img {
  height: 100%;
}

.header__list-menu{
display: none;

}

.header__list-menu li{
  height: 100%;
  margin: auto 0.4rem;
  padding:3px 10px;
  border-radius: 3px;
  
  }

  .header__list-menu li a{
    text-decoration: none;
    color:#020a21;
  
    }
  

  .header__list-menu li:hover{
  cursor:pointer;
  background-color: #393c4b;
  color:lightseagreen;
    }
  
    .header__list-menu li a:hover{
      color:lightseagreen;
        }
      



h3,h2{
  margin-left: 0.5rem;

}
  .icon-menu{
margin: 0.5rem;
  }
  .icon-menu a{
  margin: 0 1rem;
  color:var(--footer-bgcolor)
  }
  
@media (min-width:468px) {
  
  .header__list-menu{

    display: flex;
    justify-content:space-evenly;
    align-items:center;
    }

    .icon-menu{
  display: none;     
 }
        

}




.logo{
  background-image: url(https://scontent.fcnq2-1.fna.fbcdn.net/v/t39.30808-6/280279798_101761059213953_3699722032068354758_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=8g2YTbUV5dUAX8ENEAD&_nc_ht=scontent.fcnq2-1.fna&oh=00_AfB5yb1mQkayL2WJs_jrzSxzXnApYDaTgmm_H4s4GE9PXg&oe=6370BB8C);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  margin: 1rem auto;
}



li {
  list-style: none;
}


.main {
  margin: 0;
  padding: 0;

}

.main__offerts {}

.main__hot-products{
  margin: 1rem 0;
}

.hot-products-title{
display: flex;
flex-wrap: wrap;
width: auto;
background-color: rgb(251, 86, 9);
color: white;
border-radius: 15px;
text-align: center;
margin: 1rem 0.5rem;  
}

@media (min-width:468px) {
  .hot-products-title{
   width: 300px;
    }
    


}



.box-products{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap:1rem;
}


.card-product{
width: 300px;
height: 200px;
border-radius: 10px;
box-shadow: 0px 1px 4px rgba(2,17,21,0.7);
display: flex;
justify-content: space-evenly;
align-items: center;
}

.card-product__image{
  display: flex;
height: 80%;
width: 50%;
text-align: center;
overflow: hidden;


}

img{
width: 100%; 
object-fit: scale-down;

}



.card-product__info{
height: 80%;
border-left: 1px solid rgba(0, 0, 0, 0.3);
padding-left: 0.5rem;
}

.card-product__info p{
  font-size: 0.8rem;
  }

  .card-product__info div{
  display: flex;
  justify-content: end;
  align-items: center;
  
  }
  .card-product__info div i:hover{
  color:blue  }
    
  
  .card-product__info div i:hover{
  transform: scale(1.1);
  transition: transform 300ms ease; 
color:lightseagreen  
}
    


.main__bottom-fish {
  background-image: url("https://media2.cdn.bulkreefsupply.com/media/wysiwyg/styles/footer_background.jpg");
  height:340px;
  width: auto;
  background-size:cover;
  background-repeat: no-repeat;
}

.footer{
background-color:var( --footer-bgcolor);
color:var(--footer-text-color);
display: flex;
justify-content: space-between;
align-items:center;
padding-right: 1rem;
}
.footer__box-menu>ul>li{
  margin: 0.5rem 0;


}

.footer__social-links i{
margin: 0.3rem;
color:white;
font-size: 1.8rem;
}