body{
    margin:0;
    padding:0;
}

h1 {
    text-align: center;
}

img{display: block;
    text-align: center; 
    margin: auto;  
    height: 200px;
    box-shadow: 0px 1px 3px 1px black;
    margin-bottom: 10%;
    border-radius: 10px;
    }

.adress ,.age{
    text-align: center;
    height: 100px;
}
h3{
    margin: 0;
}

section{
    justify-content: center;
}

.adress{
    background: linear-gradient(to left,rgb(197, 238, 244),white);

}

.age{
    background-color:rgb(208, 237, 180) ;
}
